@{
    Layout = "~/ClientApp/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .inputClass{
        width:70%;
    }
</style>
<div class="panel panel-default" ng-controller="accountController" ng-init="init()">
    <div class="panel-heading">
        <span class="title">تغییر پسورد</span>
    </div>
    <div class="panel-body" style="height:auto;">
        <div class="k-rtl register-form" id="window">
            <div>
                <input type="text" value="" ng-model="model.UserId" style="display:none;" />
                <div class="col-xs-12 form-group">
                    <label class="control-label"> پسورد جدید : </label>
                    <input type="password" value="" class="form-control inputClass" ng-model="model.NewPass" placeholder="پسورد جدید را وارد نمایید" />
                </div>
                <div class="col-xs-12 form-group">
                    <label class="control-label"> تکرار پسورد جدید : </label>
                    <input type="password" value="" class="form-control inputClass" ng-model="model.RepairNewPass" placeholder="تکرار پسورد جدید با خود پسورد جدید برابر نمی باشد." />
                </div>
                <div class="col-xs-12 form-group" style="text-align:left">
                    <button class="btn btn-primary" type="button" ng-click="edit()">بروزرسانی</button>
                </div>
            </div>

        </div>
    </div>
</div>
 
<script>
    debugger;
    app.controller("accountController", function ( $scope, dataService, messageService) {
        
        $scope.model = {
            UserId:0,
            NewPass: null,
            RepairNewPass: null,
            clear: function () {
                this.ID = 0;
                this.NewPass = null;
                this.RepairNewPass = null;
            }
        }

        $scope.init = function () {
            
            dataService.post('account/GetInfoUsers').then(function (result) {
              
                        $scope.model = result;

                        $scope.$$phase || $scope.$apply()
                    });
        }

        $scope.edit = function () {
            dataService.post("account/ChangePass", $scope.model).then(function (item) {
                messageService.success("بروزرسانی با موفقیت انجام شد");
                $scope.model.clear();
					});

        }
    });
</script>