@model List<RealEstate.Web.Models.Common.BlogVM>
@{
    Layout = "~/ClientApp/Views/Shared/_UserLayout.cshtml";
}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg" data-setbg="/ClientApp/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row rtl">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h4>About us</h4>
                    <div class="bt-option">
                        <a href="/home"><i class="fa fa-home"></i> صفحه اصلی</a>
                        <span>درباره ما</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- About Section Begin -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="at-title" style="">
                        <h3> <span>خوش آمدید</span> VIP  <span>به املاک</span></h3>
                        <p>
                            گروه مشاورین املاک ما فعالیت خود را از سال 87 بصورت تخصصی در محدوده فازهای شهرک غرب و سعادت آباد شروع کرد و در این چند سال با عقد قراردادهای متعدد ویلایی و آپارتمانی موفق به جلب رضایت مالکین منطقه و همچنین مشتریان شده است.

                            اکنون با بهره گیری از متدهای روز دنیا (در تبلیغات) آمادگی عقد قرارداد با مالکین و مشتریان در جهت انجام معاملات ملکی از قبیل ویلایی،آپارتمان ویلا،ویلا نوساز،تعاونی،اوقافیو مشارکت در ساخت را دارد
                        </p>
                    </div>
                    <div class="at-feature">
                        <div class="af-item">
                            <div class="af-icon">
                                <img src="/ClientApp/img/chooseus/chooseus-icon-1.png" alt="">
                            </div>
                            <div class="af-text">
                                <h6>پیدا کردن ملک دلخواه</h6>
                                <p>ما به شما کمک می کنیم با ارائه یک جستجوی هوشمند ، یک ملک جدید را پیدا کنید.</p>
                            </div>
                        </div>
                        <div class="af-item">
                            <div class="af-icon">
                                <img src="/ClientApp/img/chooseus/chooseus-icon-2.png" alt="">
                            </div>
                            <div class="af-text">
                                <h6>مشاوران با تجربه</h6>
                                <p>مشاوران ما به شما کمک می کنند ملک خود را بهتر بشناسید.</p>
                            </div>
                        </div>
                        <div class="af-item">
                            <div class="af-icon">
                                <img src="/ClientApp/img/chooseus/chooseus-icon-3.png" alt="">
                            </div>
                            <div class="af-text">
                                <h6>خرید یا اجاره مسکن</h6>
                                <p>میلیون ها آپارتمان و خانه در شهرهای مختلف</p>
                            </div>
                        </div>
                        <div class="af-item">
                            <div class="af-icon">
                                <img src="/ClientApp/img/chooseus/chooseus-icon-4.png" alt="">
                            </div>
                            <div class="af-text">
                                <h6>لیست املاک خود</h6>
                                <p>هم اکنون ملک خود را ثبت نمائید و یا بفروشید.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic set-bg" data-setbg="/ClientApp/img/about-us.jpg">
                    <a href="https://www.youtube.com/watch?v=8EJ3zbKTWQ8" class="play-btn video-popup">
                        <i class="fa fa-play-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->