@{
    Layout = "~/ClientApp/Views/Shared/_AdminLayout.cshtml";
}

<style>
	main{
		overflow:hidden;
	}
	#window {
		margin: 0;
		padding: 0;
		/*border-width: 0;*/
		height: 100%; /* DO NOT USE !important for setting the Grid height! */
	}
	#grid {
		margin: 0;
		padding: 0;
		border-width: 0;
		height: 85%; /* DO NOT USE !important for setting the Grid height! */
	}

</style>
<div class="panel panel-default" ng-controller="propertyInfoController" ng-init="init()">
	<div class="panel-heading">
		<span class="title">مدیریت ملک</span>
	</div>
	<div class="panel-body" style="height:500px;">
		<div class="grid-toolbar">
			<a  class="btn btn-primary" href="/propertyinfo/registerproperty">ثبت ملک</a>
		</div>
		<div class="k-rtl" id="window">
			<div kendo-grid id="grid" k-ng-delay="gridOptions" k-options="gridOptions"></div>
		</div>
	</div>

</div>

<script>
	app.controller("propertyInfoController", function ($scope, $uibModal, dataService, messageService, helper) {

		$scope.temp = {
			propertyStatuses: null,
			transactionTypes: null,
			registerUserType: [{ value: 0, text: "مالک" }, { value: 1, text: "مدیر" }],
		}

		$scope.init = function () {
			$scope.temp.transactionTypes = Object.keys(helper.enums.TransactionTypes).map(function (item) { return helper.enums.TransactionTypes[item] });
			$scope.temp.propertyStatuses = Object.keys(helper.enums.PropertyStatuses).map(function (item) { return helper.enums.PropertyStatuses[item] });
			loadGridOptions();
		}

		function loadGridOptions() {
			$scope.gridOptions = {
				dataSource: new kendo.data.DataSource({
					transport: {
						read: function (options) {
							var filterParameter = helper.translateToFilterParameter(options.data);
							console.log(options);
							dataService.filterBy('PropertyInfo/GetProperties', filterParameter).then(function (result) {
								options.success(result);
							});
						},
						parameterMap: function (options) {
							// debugger;
							console.log(options);
						}
					},
					pageSize: 20,
					serverFiltering: true,
					serverPaging: true,
					serverSorting: true,
					schema: {
						data: function (e) {
							return e.Records;
						},
						total: function (e) {
							return e.TotalCount
						},
						model: {
							id: "ID",
							fields: {
								ID: { type: "number", editable: false },
								PropertyCode: { type: "string" },
								Title: { type: "string" },
								Status: { type: "enum" },
								Type: { type: "enum" },
								PropertyTypeId: { type: "number" },
								PropertyTypeName: { type: "string" },
								DocumentTypeId: { type: "number" },
								DocumentTypeName: { type: "string" },
								BuildingArea: { type: "number" },
								LandingArea: { type: "number" },
								BathRoom: { type: "number" },
								BedRoom: { type: "number" },
								Floor: { type: "number" },
								FloorNumber: { type: "number" },
								Apartment: { type: "number" },
								Position: { type: "string" },
								PropertyView: { type: "string" },
								ConstructorYear: { type: "number" },
								//Welfares: { type: "string" },
								RegionName: { type: "string" },
								Address: { type: "string" },
								SalePrice: { type: "number" },
								MortgagePrice: { type: "number" },
								RentalPrice: { type: "number" },
								FullName: { type: "string" },
								Tel: { type: "string" },
								ReagentFullName: { type: "string" },
								ReagentTel: { type: "string" },
								IsDeleted: { type: "boolean" },
								RegisterBy: { type: "enum" },
							}
						}
					}
				}),
				sortable: true,
				pageable: true,
				scrollable: true,
				filterable: {
					extra: false,
					operators: {
						string: {
							eq: "مساوی",
							neq: "نامساوی",
							contains: "شامل"
						},
						number: {
							eq: "مساوی",
							neq: "نامساوی",
							contains: "شامل",
							gte: "بزرگتر مساوری",
							lte: "کوچکتر مساوی",
						},
						enums: {
							eq: "مساوی",
							neq: "نامساوی",
						},
						//boolean: {
						//	eq: "مساوی",
						//	neq: "نامساوی",
						//}
					}

				},
				//height:"600px",
				columns:
				[
					{
						width: "200px",
						template: function (e) {
							var commandBtn = "<button class=\"btn btn-primary\"style=\"margin:2px;\" type=\"button\" ng-click=\"edit(dataItem)\">ویرایش</button>";
							commandBtn += "<button class=\"btn btn-danger\" style=\"margin:2px;\" type=\"button\" ng-click=\"delete(dataItem)\">حذف</button>";
							//commandBtn += "<button class=\"btn btn-success\" type=\"button\" ng-click=\"edit(dataItem)\">انتساب دسترسی</button>";
							return commandBtn;
						},
						attributes: {
							style: "text-align: center"
						}
					},
					{
						title: "کدملک",
						field: "PropertyCode",
						width: "120px",
						attributes: {
							style: "text-align: center"
						}
						//attributes:"text-align:center"
					},
					{
						title: "عنوان",
						field: "Title",
						width: "300px",
						attributes: {
							style: "text-align: center"
						}
					},
					{
						title: "وضعیت",
						field: "Status",
						values: $scope.temp.propertyStatuses,
						width: "130px;",
						attributes: {
							style: "text-align: center"
						}

					},
					{
						title: "ثبت کننده",
						field: "RegisterBy",
						values: $scope.temp.registerUserType,
						width: "160px",
						attributes: {
							style: "text-align: center"
						},
						template: function (e) {
							if (e.RegisterBy) {
								return "<span>مدیر</span>";
							}
							else {
								return "<span>مالک</span>";
							}
						}

					},
					{
						title: "معامله",
						field: "Type",
						values: $scope.temp.transactionTypes,
						width: "130px",
						attributes: {
							style: "text-align: center"
						}
					},
					{
						title: "متراژ زمین",
						field: "LandingArea",
						width: "150px",
						attributes: {
							style: "text-align: center"
						},
						template: function (e) {
							if (e.LandingArea) {
								return "<span>" + e.LandingArea + " متر</span>";
							}
							return "<span>-</span>";
						}
					},
					{
						title: "متراژ بنا",
						field: "BuildingArea",
						width: "150px",
						attributes: {
							style: "text-align: center"
						},
						template: function (e) {
							if (e.BuildingArea) {
								return "<span>" + e.BuildingArea +" متر</span>";
							}
							return "<span>-</span>";
						}
					},
					{
						title: "اتاق",
						field: "BedRoom",
						width: "110px",
						attributes: {
							style: "text-align: center"
						},
						template: function (e) {
							if (e.BedRoom) {
								return "<span>" + e.BedRoom + "</span>";
							}
							return "<span>-</span>";
						}
					},
					{
						title: "حمام",
						field: "BathRoom",
						width: "110px",
						attributes: {
							style: "text-align: center"
						},
						template: function (e) {
							if (e.BathRoom) {
								return "<span>" + e.BathRoom + "</span>";
							}
							return "<span>-</span>";
						}
					},
					{
						title: "تعداد طبقه",
						field: "Floor",
						width: "150px",
						attributes: {
							style: "text-align: center"
						},
						template: function (e) {
							if (e.Floor) {
								return "<span>" + e.Floor + "</span>";
							}
							return "<span>-</span>";
						}
					},
					{
						title: "طبقه ملک",
						field: "FloorNumber",
						width: "150px",
						attributes: {
							style: "text-align: center"
						},
						template: function (e) {
							if (e.FloorNumber) {
								if (e.FloorNumber == 0) {
									return "<span>همکف</span>";
								}
								else if (e.FloorNumber == -1) {
									return "<span>زیرهمکف</span>";
								}
								else {
									return "<span>" + e.FloorNumber + "</span>";
								}

							}
							return "<span>-</span>";
						}
					},
					{
						title: "تعداد واحد",
						field: "Apartment",
						width: "150px",
						attributes: {
							style: "text-align: center"
						}
					},
					{
						title: "موقعیت",
						field: "Position",
						width: "150px",
						attributes: {
							style: "text-align: center"
						},
						template: function (e) {
							if (e.Position) {
								return "<span>" + e.Position + "</span>";
							}
							return "<span>-</span>";
						}
					},
					{
						title: "نما ملک",
						field: "PropertyView",
						width: "150px",
						attributes: {
							style: "text-align: center"
						},
						template: function (e) {
							if (e.PropertyView) {
								return "<span>" + e.PropertyView + "</span>";
							}
							return "<span>-</span>";
						}
					},
					{
						title: "سال ساخت",
						field: "ConstructorYear",
						width: "150px",
						attributes: {
							style: "text-align: center"
						},
						template: function (e) {
							if (e.ConstructorYear) {
								return "<span>" + e.ConstructorYear + "</span>";
							}
							return "<span>-</span>";
						}
					},
					{
						title: "آدرس",
						field: "Address",
						width: "300px",
						attributes: {
							style: "text-align: center"
						},
						template: function (e) {
							if (e.Address) {
								return "<span>" + e.Address + "</span>";
							}
							return "<span>-</span>";
						}
					},
					{
						title: "مبلغ فروش",
						field: "SalePrice",
						values: $scope.temp.userTypes,
						width: "150px",
						template: function (e) {
							if (e.Type == 2 || e.Type==3) {
								if (e.SalePrice === 0 || e.SalePrice > 0) {
									if (e.SalePrice === 0) {
										return "<span>رایگان</span>";
									}
									else {
										return "<span>" + numeral(e.SalePrice).format("0,0") + "</span>"
									}
								}
								return "توافقی";
							}
							else {
								return "-";
							}
						},
						attributes: {
							style: "text-align: center"
						}
					},
					{
						title: "مبلغ رهن",
						field: "MortgagePrice",
						width: "150px",
						template: function (e) {
							if (e.Type == 1) {
								if (e.MortgagePrice === 0 || e.MortgagePrice >= 0) {
									if (e.MortgagePrice === 0) {
										return "<span>رایگان</span>";
									}
									else {
										return "<span>" + numeral(e.MortgagePrice).format("0,0") + "</span>"
									}
								}
								return "توافقی";
							}
							else {
								return "-";
							}
							
						},
						attributes: {
							style: "text-align: center"
						}
					},
					{
						title: "مبلغ اجاره",
						field: "RentalPrice",
						width: "150px",
						template: function (e) {
							if (e.Type == 1) {
								if (e.RentalPrice === 0 || e.RentalPrice >= 0) {
									if (e.RentalPrice === 0) {
										return "<span>رایگان</span>";
									}
									else {
										return "<span>" + numeral(e.RentalPrice).format("0,0") + "</span>"
									}
								}
								return "توافقی";
							}
							else {
								return "-";
							}
						},
						attributes: {
							style: "text-align: center"
						}
					},
					{
						title: "امکانات رفاهی",
						field: "Welfares",
						width: "400px",
						filterable: false,
						template: function (e) {
							var text = "";
							for (var i = 0; i < e.Welfares.length; i++) {
								text += e.Welfares[i].Name + " - ";
							}
							if ($.trim(text) != "")
								return '<span>' + text.substr(0, text.length - 3);
							return '<span>ندارد</span>';
						}
					},
					{
						title: "نام مالک",
						field: "FullName",
						width: "150px",
						template: function (e) {
							if ($.trim(e.FullName) != "")
								return e.FullName
							return '-';
						},
						attributes: {
							style: "text-align: center"
						}
					},
					{
						title: "شماره مالک",
						field: "Tel",
						width: "150px",
						template: function (e) {
							if (e.Tel)
								return e.Tel
							return '-';
						},
						attributes: {
							style: "text-align: center"
						}
					},
					{
						title: "نام معرف",
						field: "ReagentFullName",
						width: "150px",
						template: function (e) {
							if ($.trim(e.ReagentFullName)!="")
								return e.ReagentFullName
							return '-';
						},
						attributes: {
							style: "text-align: center"
						}
					},
					{
						title: "شماره معرف",
						field: "ReagentTel",
						width: "150px",
						template: function (e) {
							if (e.ReagentTel)
								return e.ReagentTel
							return '-';
						},
						attributes: {
							style: "text-align: center"
						}
					},
					{
						title: "تاریخ ثبت",
						field: "RegisterDate",
						width: "150px",
						filterable: false,
						template: function (e) {
							if (e.RegisterDate)
								return moment(e.RegisterDate).format('jYYYY/jM/jD');
							return "-";
						},
						attributes: {
							style: "text-align: center"
						}
					},
				]
			}
		}

		$scope.edit = function (dataItem) {
			if (dataItem) {
				document.location.href = "propertyInfo/RegisterProperty?id=" + dataItem.ID;
			}
		}
		$scope.delete = function (dataItem) {
			if (dataItem) {
				var conf = confirm("آیا مطمئن هستید؟");
				if (conf) {
					dataService.post("propertyInfo/DeleteProperty", { ID: dataItem.ID }).then(function (result) {
						$scope.gridOptions.dataSource.read();
						messageService.success("عملیات با موفیت انجام شده");
					});
				}
			}
		}
	});
</script>